

.map-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}

.map-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.map-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

google-map {
  height: 80vh;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}