<mat-card class="map-container">
  <h2 style="margin-top: 3vh; text-align: center;">Vehicle Map</h2>
  <div class="map-wrapper">
  <google-map height="100%" width="100%" [options]="options">
    @for (location of markers; track location; let index = $index) {
    <map-advanced-marker
      #markerElem="mapAdvancedMarker"
      [position]="{ lat: location.lat, lng: location.lng }"
      [content]="location.content"
      [title]="'Model: ' + location.vehicleModel + ' |\nDate last Used: ' + location.dateAndTime"
      (mapClick)="onMarkerClick(markerElem)"
    />
    }
    <map-info-window #infoWindow></map-info-window>
  </google-map>
  </div>
</mat-card> 