<mat-card class="map-container">
  <h3>Vehicle Map</h3>
  <google-map height="35rem" width="75rem" [options]="options">
    @for (location of markers; track location; let index = $index) {
    <map-advanced-marker
      #markerElem="mapAdvancedMarker"
      [position]="{ lat: location.lat, lng: location.lng }"
      [content]="location.content"
      [title]="'Model: ' + location.vehicleModel + ' |\nDate last Used: ' + location.dateAndTime"
      (mapClick)="onMarkerClick(markerElem)"
    />
    }
    <map-info-window #infoWindow></map-info-window>
  </google-map>
</mat-card> 