<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content class="form-content">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Model</mat-label>
      <input matInput formControlName="model" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Purchase Price</mat-label>
      <input matInput type="number" formControlName="purchasePrice" />
    </mat-form-field>


    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Rental Price</mat-label>
      <input matInput type="number" formControlName="rentalPrice" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
  <mat-label>Manufacturer</mat-label>
  <mat-select formControlName="manufacturerId" panelClass="manufacturer-select-panel">
    @for(m of manufacturers; track m.id)
    {
      <mat-option [value]="m.id">
        {{ m.name }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>

    <!-- Bicycle -->
    @if(this.data.type === 'bicycles'){
        <mat-form-field
            appearance="fill"
            class="full-width">
            <mat-label>Range</mat-label>
            <input matInput type="number" formControlName="range" />
        </mat-form-field>
    }
    <!-- Car -->
     @else if(this.data.type === 'cars'){
        <ng-container>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Purchase Date</mat-label>
                <input matInput type="date" formControlName="purchaseDate" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </ng-container>
     }
    <!-- Scooter -->
     @else if(this.data.type === 'scooters'){
        <mat-form-field
      appearance="fill"
      class="full-width">
      <mat-label>Max Speed</mat-label>
      <input matInput type="number" formControlName="maxSpeed" />
    </mat-form-field>
     }
  </mat-dialog-content>

  <mat-dialog-actions style="align-items: end;">
    <button mat-button (click)="cancel()">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid">
      Save
    </button>
  </mat-dialog-actions>
</form>
