<h2 style="text-align: center;">Rentals History</h2>
<div class="rental-container mat-typography">
  @if(groupedRentals.length > 0) {
    <cdk-virtual-scroll-viewport itemSize="250" class="viewport">
      <div *cdkVirtualFor="let row of groupedRentals" class="rental-row">
        @for(rental of row; track rental.id){
          <mat-card class="rental-card">
          <mat-card-header>
            <mat-card-title>
              <mat-icon class="icon">commute</mat-icon>
              {{ rental.vehicleModel }} [{{ rental.vehicleId }}]
            </mat-card-title>
            <mat-card-subtitle>
              <mat-icon class="icon">event</mat-icon>
              {{ rental.dateAndTime | date: 'medium' }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="rental-section">
              <mat-icon class="icon">person</mat-icon>
              <strong>Client:</strong> {{ rental.clientName }} (ID: {{ rental.clientId }})
            </div>
            <div class="rental-section">
              <mat-icon class="icon">place</mat-icon>
              <strong>From:</strong> ({{ rental.startLat }}, {{ rental.startLon }})
            </div>
            <div class="rental-section">
              <mat-icon class="icon">flag</mat-icon>
              <strong>To:</strong> ({{ rental.endLat }}, {{ rental.endLon }})
            </div>
            <div class="rental-section">
              <mat-icon class="icon">schedule</mat-icon>
              <strong>Duration:</strong> {{ rental.duration }} min
            </div>
            <div class="rental-section">
              <mat-icon class="icon">attach_money</mat-icon>
              <strong>Total Price:</strong> ${{ rental.totalPrice }}
            </div>
          </mat-card-content>
        </mat-card>
        }
        
      </div>
    </cdk-virtual-scroll-viewport>
  } @else {
    <h3>No Rentals Found!</h3>
  }
</div>