<div class="user-management-container">
  <section class="user-area">
    <h2>Employees</h2>
    <button mat-fab extended  color="primary" (click)="openEmployeeDialog()" style="margin: 20px 5px">
      <mat-icon>add</mat-icon>
        Add Employee
    </button>
    <div class="table-container">
      <mat-table [dataSource]="employeeDataSource" matSort class="mat-elevation-z8">
       
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

     
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
        </ng-container>

       
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="editEmployee(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteEmployee(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedEmployeeColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedEmployeeColumns;"></tr>
      </mat-table>
    </div>
  </section>

  
  <section class="user-area">
    <h2>Clients</h2>
    <div class="table-container">
      <mat-table [dataSource]="clientDataSource" matSort class="mat-elevation-z8">
       
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

       
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
        </ng-container>

     
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

     
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

      
        <ng-container matColumnDef="idNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Number </th>
          <td mat-cell *matCellDef="let element"> {{element.idNumber}} </td>
        </ng-container>

      
        <ng-container matColumnDef="passportNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Passport Number </th>
          <td mat-cell *matCellDef="let element"> {{element.passportNumber}} </td>
        </ng-container>

       
        <ng-container matColumnDef="citizenship">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Citizenship </th>
          <td mat-cell *matCellDef="let element"> {{element.citizenship}} </td>
        </ng-container>

      
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
          <td mat-cell *matCellDef="let element">
            
            @if(element.active)
            {
              <mat-slide-toggle [checked]="true" (change)="toggleClientStatus(element)">
                {{'Active'}}
              </mat-slide-toggle>
            }
            @else {
              <mat-slide-toggle [checked]="false" (change)="toggleClientStatus(element)">
                {{'Blocked'}}
              </mat-slide-toggle>
            } 
            
            
            
          </td>
        </ng-container>

   
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="editClient(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteClient(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedClientColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedClientColumns;"></tr>
      </mat-table>
    </div>
  </section>
</div>