.user-management-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .user-area {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .table-container {
    max-height: 300px;
    overflow-y: auto;
  }

mat-paginator {
  margin-top: 10px;
}

.search-input{
  margin-left: 2vw;
}