<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" [opened]="!isMobile" class="sidenav">
    <mat-toolbar color="primary">
      <span>System Dashboard</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/manage-vehicles">Manage Vehicles</a>
      <a mat-list-item routerLink="/manage-users">Manage Users</a>
      <a mat-list-item routerLink="/manage-manufacturers">Manage Manufacturers</a>
      <a mat-list-item routerLink="/view-rentals">View Rentals</a>
      <a mat-list-item routerLink="/report-issues">Report Issues</a>
      <a mat-list-item routerLink="/statistics">Statistics</a>
      <a mat-list-item routerLink="/set-rent-prices">Set Rental Prices</a>
      <a mat-list-item routerLink="/view-vehicles-map">View Vehicle Map</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

   @if(isMobile){
     <mat-toolbar color="primary">
       <button mat-icon-button (click)="sidenav.toggle()">
         <mat-icon>menu</mat-icon>
       </button>
       <span>System Dashboard</span>
     </mat-toolbar>
   }

  <!-- Main Content -->
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>