.sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: yellow;
}

.sidenav {
  width: 250px;  /* Sidebar width */
}

.content {
  flex-grow: 1;  /* Allow content to take up remaining space */
  padding: 20px;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.mat-sidenav {
  position: relative;
  z-index: 1;
}

.mat-sidenav-content {
  z-index: 0;
}

mat-toolbar {
  z-index: 10;
}

@media screen and (max-width: 600px) {
  .mat-sidenav {
    width: 100%; /* Make the sidebar full-width on mobile */
  }
  .mat-sidenav-content {
    padding-left: 0;
  }
}