@if(this.vehicle) {
    <div class="container">
  <h2>{{ vehicle.model }} Details</h2>
  <mat-tab-group>
    <mat-tab label="Info">
      <div class="info-tab-container">
        <!-- LEFT SIDE: Vehicle Info -->
        <div class="info-left">
      <h2 class="vehicle-title">{{ vehicle.model }} Details</h2>

      <div class="info-item">
        <span class="label">Status</span>
        <span class="value">{{ vehicle.status | uppercase}}</span>
      </div>

      <div class="info-item">
        <span class="label">Purchase Price</span>
        <span class="value">{{ vehicle.purchasePrice | currency }}</span>
      </div>

      <div class="info-item">
        <span class="label">Rental Price</span>
        <span class="value">{{ vehicle.rentalPrice | currency }}</span>
      </div>

      <div class="info-item">
        <span class="label">Manufacturer ID</span>
        <span class="value">{{ vehicle.manufacturerId }}</span>
      </div>

      <ng-container [ngSwitch]="vehicleType">
        <div class="info-item" *ngSwitchCase="'scooters'">
          <span class="label">Max Speed</span>
          <span class="value">{{ vehicle.maxSpeed }} km/h</span>
        </div>

        <div class="info-item" *ngSwitchCase="'cars'">
          <span class="label">Purchase Date</span>
          <span class="value">{{ vehicle.purchaseDate | date: 'mediumDate' }}</span>
        </div>

        <div class="info-item" *ngSwitchCase="'cars'">
          <span class="label">Description</span>
          <span class="value">{{ vehicle.description }}</span>
        </div>

        <div class="info-item" *ngSwitchCase="'bicycles'">
          <span class="label">Range</span>
          <span class="value">{{ vehicle.range }} km</span>
        </div>
      </ng-container>
    </div>

        <!-- RIGHT SIDE: Vehicle Photo -->
        <div class="info-right">
          <div class="vehicle-photo-wrapper">
            <img 
              [src]="vehicle.photoUrl || '/assets/no-photo.png'" 
              alt="Vehicle Photo" 
              class="vehicle-photo"
            />
          </div>
          <div class="photo-controls">
            <!-- Input type FILE - In Materials Style -->
            <div class="file-input-container">
              <input
                type="file"
                style="display: none"
                #fileInput
                accept="image/*"
                (change)="onChangeFileInput()"
              />
              <button
                mat-raised-button
                color="primary"
                class="file-select-button"
                (click)="onClickFileInputButton()"
              >
                <mat-icon>attach_file</mat-icon>
                Attach
              </button>
              @if(!file){
                <p class="file-name">No file chosen</p>
              }
              @else {
                <p class="file-name">{{ file.name }}</p>
              }
            </div>
            <button mat-raised-button color="warn" (click)="deletePhoto(vehicle.id)" [disabled]="!vehicle.photoUrl">Delete Photo</button>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Faults">
      <div style="padding: 2vh 0vh"></div>
      <button mat-raised-button color="primary" (click)="addFault()">Add Fault</button>

      @if(faults.length) {
        <cdk-virtual-scroll-viewport itemSize="72" class="faults-viewport">
          <div *cdkVirtualFor="let f of faults" class="fault-item">
            <div class="fault-text">
              <div class="fault-date">{{ f.dateAndTime | date: 'medium' }}</div>
              <div class="fault-description">{{ f.description }}</div>
            </div>
            <button mat-icon-button class="delete-button" (click)="deleteFault(f.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </cdk-virtual-scroll-viewport>
      } @else {
        <h3>No history of malfunctions!</h3>
      }
    </mat-tab>

    <mat-tab label="Rentals">
      @if(rentals.length){
        <table mat-table [dataSource]="rentals" class="mat-elevation-z8" [trackBy]="trackById" [class.full-width-table]="true" [class.mat-table]="true">

        <!-- Customer Column -->
        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef> Customer </th>
          <td mat-cell *matCellDef="let rental"> {{ rental.clientName }}</td>
        </ng-container>

        

        <!-- Start Date Column -->
        <ng-container matColumnDef="dateAndTime">
          <th mat-header-cell *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let rental"> {{ rental.dateAndTime }} </td>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef> Duration (min) </th>
          <td mat-cell *matCellDef="let rental"> {{ rental.duration }} </td>
        </ng-container>

        <!-- Total Price Column -->
        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef> Total Price </th>
          <td mat-cell *matCellDef="let rental"> {{ rental.totalPrice }} </td>
        </ng-container>

        <!-- Vehicle Column -->
        <ng-container matColumnDef="vehicleModel">
          <th mat-header-cell *matHeaderCellDef> Vehicle </th>
          <td mat-cell *matCellDef="let rental"> {{ rental.vehicleModel }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      }
      @else {
        <h3>
          No Rentals found!
        </h3>
      }
      
    </mat-tab>
  </mat-tab-group>
</div>
}
